# Hospital Management System

## Project Overview
This project implements a comprehensive SQL database for a hospital management system. It tracks patients, doctors, appointments, medical tests, prescriptions, and insurance claims.

In [4]:
%load_ext sql

ModuleNotFoundError: No module named 'sql'

## Database Schema & Table Definitions

### Tables Created:
1. **Patients** - Stores patient demographics and contact information
2. **Doctors** - Maintains doctor details and specialties
3. **Appointments** - Tracks patient-doctor appointments with status
4. **Prescriptions** - Records medications prescribed during appointments
5. **MedicalTests** - Catalog of available medical tests and costs
6. **PatientTests** - Tracks test history and results for each patient
7. **InsuranceClaims** - Manages insurance claim processing

### Key Features:
- Primary keys on all tables for uniqueness
- Foreign key relationships for data integrity

In [ ]:
# Create a connection to hospital.db
%sql sqlite:///hospital.db

Create Table Patients,Doctors,Appointments,Prescription,MedicalTests,PatientTests,Insuranceclaims

In [5]:
%%sql
CREATE TABLE Patients (
    patient_id INT PRIMARY KEY,
    full_name VARCHAR(100),
    gender VARCHAR(10),
    date_of_birth DATE,
    contact_number VARCHAR(20),
    registration_date DATE
);
CREATE TABLE Doctors (
    doctor_id INT PRIMARY KEY,
    full_name VARCHAR(100),
    specialty VARCHAR(50),
    joining_date DATE
);

CREATE TABLE Appointments (
    appointment_id INT PRIMARY KEY,
    patient_id INT,
    doctor_id INT,
    appointment_date DATETIME,
    status VARCHAR(20),   -- Scheduled, Completed, Cancelled
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),
    FOREIGN KEY (doctor_id) REFERENCES Doctors(doctor_id)
);
CREATE TABLE Prescriptions (
    prescription_id INT PRIMARY KEY,
    appointment_id INT,
    medicine_name VARCHAR(100),
    dosage VARCHAR(50),
    duration_days INT,
    FOREIGN KEY (appointment_id) REFERENCES Appointments(appointment_id)
);
CREATE TABLE MedicalTests (
    test_id INT PRIMARY KEY,
    test_name VARCHAR(100),
    cost DECIMAL(10,2)
);
CREATE TABLE PatientTests (
    patient_test_id INT PRIMARY KEY,
    patient_id INT,
    test_id INT,
    test_date DATE,
    result VARCHAR(255),
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),
    FOREIGN KEY (test_id) REFERENCES MedicalTests(test_id)
);
CREATE TABLE InsuranceClaims (
    claim_id INT PRIMARY KEY,
    patient_id INT,
    claim_amount DECIMAL(10,2),
    claim_date DATE,
    status VARCHAR(20),   -- Approved, Pending, Rejected
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id)
);

 * sqlite:///hospital.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Patients Table

In [6]:
%%sql 
-- 1. INSERT DATA FOR Patients
INSERT INTO Patients (patient_id, full_name, gender, date_of_birth, contact_number, registration_date)
VALUES
(1, 'John Doe', 'Male', '1980-05-14', '9876543210', '2023-01-12'),
(2, 'Aisha Khan', 'Female', '1992-11-22', '9988776655', '2023-03-05'),
(3, 'Michael Smith', 'Male', '1975-02-10', '9123456780', '2022-12-20'),
(4, 'Rita Sharma', 'Female', '1988-07-09', '9876001122', '2023-04-18'),
(5, 'Arjun Mehta', 'Male', '2000-06-18', '9001234567', '2023-05-11');

 * sqlite:///hospital.db
5 rows affected.

[]

### Doctors Table

In [8]:
%%sql
INSERT INTO Doctors (doctor_id, full_name, specialty, joining_date)
VALUES
(1, 'Dr. Priya Menon', 'Cardiology', '2021-01-10'),
(2, 'Dr. Rahul Gupta', 'Dermatology', '2020-05-15'),
(3, 'Dr. Sarah Lee', 'Endocrinology', '2022-02-20'),
(4, 'Dr. David Clark', 'Orthopedics', '2019-11-11'),
(5, 'Dr. Meera Singh', 'General Medicine', '2023-01-05');

 * sqlite:///hospital.db
5 rows affected.

[]

### Appointments Table

In [9]:
%%sql
INSERT INTO Appointments (appointment_id, patient_id, doctor_id, appointment_date, status)
VALUES
(1, 1, 1, '2024-01-10 10:30:00', 'Completed'),
(2, 1, 3, '2024-02-12 14:00:00', 'Completed'),
(3, 2, 5, '2024-03-01 09:00:00', 'Scheduled'),
(4, 3, 2, '2024-01-25 15:45:00', 'Cancelled'),
(5, 4, 4, '2024-02-05 11:00:00', 'Completed'),
(6, 5, 5, '2024-02-20 16:30:00', 'Completed');

 * sqlite:///hospital.db
6 rows affected.

[]

### Prescriptions Table

In [10]:
%%sql
INSERT INTO Prescriptions (prescription_id, appointment_id, medicine_name, dosage, duration_days)
VALUES
(1, 1, 'Aspirin', '75mg', 30),
(2, 1, 'Atorvastatin', '10mg', 60),
(3, 2, 'Metformin', '500mg', 90),
(4, 5, 'Ibuprofen', '400mg', 10),
(5, 6, 'Vitamin B12', '500mcg', 45);

 * sqlite:///hospital.db
5 rows affected.

[]

### Medical Tests Table

In [11]:
%%sql
INSERT INTO MedicalTests (test_id, test_name, cost)
VALUES
(1, 'Blood Sugar Test', 250.00),
(2, 'Lipid Profile', 900.00),
(3, 'Thyroid Panel', 650.00),
(4, 'X-Ray', 500.00),
(5, 'MRI Scan', 4500.00);

 * sqlite:///hospital.db
5 rows affected.

[]

### Patient Tests Table

In [12]:
%%sql
INSERT INTO PatientTests (patient_test_id, patient_id, test_id, test_date, result)
VALUES
(1, 1, 1, '2024-01-10', 'Normal'),
(2, 1, 2, '2024-02-12', 'High Cholesterol'),
(3, 2, 3, '2024-03-01', 'TSH Slightly High'),
(4, 3, 4, '2024-01-25', 'No Fracture Detected'),
(5, 4, 1, '2024-02-05', 'Slightly High'),
(6, 5, 5, '2024-02-20', 'Normal MRI');

 * sqlite:///hospital.db
6 rows affected.

[]

### Insurance Claims Table

In [14]:
%%sql
INSERT INTO InsuranceClaims (claim_id, patient_id, claim_amount, claim_date, status)
VALUES
(1, 1, 5000.00, '2024-02-15', 'Approved'),
(2, 2, 12000.00, '2024-03-05', 'Pending'),
(3, 3, 8000.00, '2024-01-30', 'Rejected'),
(4, 4, 9500.00, '2024-02-10', 'Approved'),
(5, 5, 4000.00, '2024-02-25', 'Pending');

 * sqlite:///hospital.db
5 rows affected.

[]

Select Operation

In [17]:
%%sql
Select * from Patients;

 * sqlite:///hospital.db
Done.

[(1, 'John Doe', 'Male', '1980-05-14', '9876543210', '2023-01-12'),
 (2, 'Aisha Khan', 'Female', '1992-11-22', '9988776655', '2023-03-05'),
 (3, 'Michael Smith', 'Male', '1975-02-10', '9123456780', '2022-12-20'),
 (4, 'Rita Sharma', 'Female', '1988-07-09', '9876001122', '2023-04-18'),
 (5, 'Arjun Mehta', 'Male', '2000-06-18', '9001234567', '2023-05-11')]

In [19]:
%%sql
Select * from doctors;

 * sqlite:///hospital.db
Done.

[(1, 'Dr. Priya Menon', 'Cardiology', '2021-01-10'),
 (2, 'Dr. Rahul Gupta', 'Dermatology', '2020-05-15'),
 (3, 'Dr. Sarah Lee', 'Endocrinology', '2022-02-20'),
 (4, 'Dr. David Clark', 'Orthopedics', '2019-11-11'),
 (5, 'Dr. Meera Singh', 'General Medicine', '2023-01-05')]

Here Select * is used while selecting data from tables which is not the ideal way to extract data we should only extract required fields, this improves the perfomance and make sql more reliable.

In [21]:
%%sql
select patient_id,full_name 
from
Patients;

 * sqlite:///hospital.db
Done.

[(1, 'John Doe'),
 (2, 'Aisha Khan'),
 (3, 'Michael Smith'),
 (4, 'Rita Sharma'),
 (5, 'Arjun Mehta')]

### Filter
If we want to filter data in sql then we can use where 
It is used to extract records that fulfill a specified conditions.

Select name of patients whose gender is male

In [26]:
%%sql
Select patient_id,full_name 
from
patients
where gender="Male";

 * sqlite:///hospital.db
Done.

[(1, 'John Doe'), (3, 'Michael Smith'), (5, 'Arjun Mehta')]

Show patients who have been registered recently

In [29]:
%%sql
select full_name
from
patients
order by registration_date DESC;

 * sqlite:///hospital.db
Done.

[('Arjun Mehta',),
 ('Rita Sharma',),
 ('Aisha Khan',),
 ('John Doe',),
 ('Michael Smith',)]

### Joins
Joins are used to combine rows from two or more tables based on a related (common) column.
They allow you to retrieve meaningful information by linking data that is stored separately.

Types of Join
- Inner Join 
- Left Join
- Right Join 
- Full Join

Get all appointments with patient and doctor names

In [ ]:
%%sql
Select 
      a.appointment_id,
      p.full_name as patinet_name,
      d.full_name as doctor_name,
      a.appointment_date
      from 
      appointments a
      join patients p on a.patient_id=p.patient_id
      join doctors d on a.doctor_id=d.doctor_id;